@import "primevue-theme.css";
@import "banks-colors.css";

:root {
  font-family: 'Inter', sans-serif, system-ui, Arial;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}